# FILES
*.filters

# FOLDERS
.vs
.git
Inter
bin/
*.db


# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.tmp
*.tmp_proj